@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

$bold: 700;
$default: 400;
$thin: 100;

$bg-color: #1a1a1a;
$primary-color: #fff;
$accent-color: #ff6d00;
$red: #ff0000;
$purple: #7b46f7;
$green: #bcf521;

$transit: all 0.3s ease-in-out;
$radius: (
    sm: 4px,
    md: 8px,
    lg: 12px,
    pill: 9999px,
    circle: 50%,
);

.font-zh {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: $default;
    font-style: normal;
    font-size: 16px;
}

.bold {
    font-weight: $bold;
}

.thin {
    font-weight: $thin;
}

button.cta {
    all: unset;
    padding: 5px 16px;
    border-radius: map-get($radius, sm);
    background-color: $accent-color;
    cursor: pointer;

    &:hover {
        color: $primary-color;
        animation: heartBeat 1.2s;
        transition: $transit;
    }
}

.block-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 1px solid $primary-color;

    h2 {
        font-size: 2rem;
        font-weight: $bold;
        letter-spacing: 0.1rem;
    }
}

.swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
        height: 100%;

        .swiper-slide {
            height: 100%;
        }
    }
}

.swiper-pagination-bullet {
    background: $primary-color;

    &-active {
        background: $accent-color;
    }
}
