@import "variables";

html,
body {
    background-color: $bg-color;
    color: $primary-color;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 20px 0;
    width: 100%;
    backdrop-filter: blur(5px);
    animation: slideInDown 1s;

    &.scrolled {
        background-color: $bg-color;
        animation: fadeInDown 0.8s;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            max-width: 160px;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            > li a:hover {
                color: $accent-color;
                transition: $transit;
            }
        }
    }
}

.main {
    > div {
        margin-bottom: 20px;
    }

    .banner {
        margin-bottom: 0;
        height: 100vh;
        background-image: url("../images/banner_bg.jpg");
        background-position: center center;
        background-size: cover;
        position: relative;
        overflow: hidden;

        .banner-bone {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            animation: slideInRight 1s;

            img {
                max-width: unset;
                height: 100%;
            }
        }

        .banner-wrap {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            padding-left: 150px;
            padding-bottom: 170px;
            height: 100%;
            animation: slideInLeft 1s;

            .title {
                font-size: 1rem;
                letter-spacing: 0.05rem;
            }
            .logo {
                width: 420px;
                margin-bottom: 12px;
            }
            .desc {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                gap: 15px;
            }
        }
    }

    .countdown {
        padding: 30px 0;
        background-color: $bg-color;
        background-image: url("../images/countdown_bg.png");
        background-position: center;
        background-size: cover;

        .block-title ~ div {
            margin-bottom: 20px;
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            > div {
                flex-shrink: 0;
                padding: 30px;
                min-width: 220px;
                border-radius: map-get($radius, md);
                background-color: $bg-color;
                text-align: center;
                position: relative;
                z-index: 1;

                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 107%;
                    height: 102%;
                    border-radius: inherit;
                    background-image: linear-gradient(
                        to bottom right,
                        $accent-color 0%,
                        transparent 45%,
                        transparent 65%,
                        $accent-color
                    );
                    z-index: 0;
                }

                .value {
                    font-size: 4.5rem;
                    font-weight: $bold;
                    color: $primary-color;
                }

                .time-label {
                    font-size: 1.5rem;
                }
            }
        }

        &-info {
            text-align: center;
            margin-bottom: 10px;
            font-size: 1.2rem;

            > span:first-child {
                color: $accent-color;
            }
        }

        &-ticket {
            text-align: center;
        }
    }

    .about {
        &-origin {
            margin-bottom: 20px;
            height: 300px;
            background-color: $purple;
        }

        &-wrap {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: minmax(480px, auto);
            // gap: 12px;

            .about-group > a {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 40px;
                // border-radius: map-get($radius, lg);
                background-color: #000;
                overflow: hidden;
                cursor: pointer;
                transition: $transit;

                &.red {
                    box-shadow: 0 0 20px 8px inset rgba($red, 0.5);
                }
                &.orange {
                    box-shadow: 0 0 20px 8px inset rgba($accent-color, 0.5);
                }
                &.purple {
                    box-shadow: 0 0 20px 8px inset rgba($purple, 0.5);
                }
                &.green {
                    box-shadow: 0 0 20px 8px inset rgba($green, 0.5);
                }

                .about-pic {
                    width: 120px;
                    transition: $transit;
                }

                .about-title {
                    position: relative;
                    height: 180px;
                    transition: $transit;

                    img {
                        max-width: unset;
                        height: 100%;

                        &.sub-img {
                            position: absolute;
                            left: -30px;
                            top: -70px;
                            height: 130%;
                            z-index: -1;
                            opacity: 0;
                            transition: $transit;
                        }
                    }
                }

                &:hover {
                    .about-pic {
                        transform: scale(1.8) translate(50px, 10px);
                    }

                    .about-title {
                        transform: scale(1.3) translate(-30px, -30px);

                        img.sub-img {
                            opacity: 1;
                        }
                    }

                    &.red {
                        background-image: linear-gradient(
                            0deg,
                            rgba($red, 1) 0%,
                            rgba($red, 0) 30%
                        );
                    }
                    &.orange {
                        background-image: linear-gradient(
                            0deg,
                            rgba($accent-color, 1) 0%,
                            rgba($accent-color, 0) 30%
                        );
                    }
                    &.purple {
                        background-image: linear-gradient(
                            0deg,
                            rgba($purple, 1) 0%,
                            rgba($purple, 0) 30%
                        );
                    }
                    &.green {
                        background-image: linear-gradient(
                            0deg,
                            rgba($green, 1) 0%,
                            rgba($green, 0) 30%
                        );
                    }
                }

                .about-intro {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 10px;
                    margin-bottom: 70px;
                    font-size: 1.2rem;

                    .intro-title {
                        font-size: 1.8rem;
                        color: $accent-color;
                    }

                    .read-more {
                        all: unset;
                        width: 100%;
                        margin-top: 15px;
                        padding: 8px 0;
                        border: 1px solid $primary-color;
                        border-radius: map-get($radius, md);
                        text-align: center;
                        font-size: 1rem;
                        cursor: pointer;
                        transition: $transit;

                        &:hover {
                            border-color: $accent-color;
                            background-color: $accent-color;
                        }
                    }
                }
            }
        }
    }
}
